@model UserResetPasswordViewModel

@{
    Layout = config.GetValue<string>("PageLayouts:SecondaryLayout");
    ViewData["Title"] = "New Password";
}

<div class="text-center border border-dark rounded mt-5 mb-5 w-50" id="IndexMain">
    <h2 class="text-light">New Password</h2>
    <form asp-action="NewPassword" class="d-flex justify-content-center flex-column ms-5 me-5">
       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       <div class="form-group mt-3 mb-3">
                <label asp-for="Email" class="control-label text-light"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>     
       <div class="form-group mt-3 mb-3">
                <label asp-for="Password" class="control-label text-light"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 mt-3">
                <input type="submit" value="Change Password" class="btn btn-outline-light" />
            </div>
        @if(ViewBag.Message != null)
        {
             <script type="text/javascript">
                window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
        }
    </form>    
</div>