@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = @ViewBag.Title;
}

<div class="text-center border border-dark rounded mt-5 mb-5" id="IndexMain">
        <h1 class="text-light mb-5 mt-2">@ViewBag.Title</h1>
        <div class="d-flex justify-content-evenly flex-wrap mb-5">
        @foreach(var item in Model)
        {
            <div class="card me-2 bg-secondary bg-gradient" style="width: 18rem;">
                <img src="~/Images/@item.ImageName" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">@item.Name</h5>
                <p class="card-text text-light">Price: $@float.Parse(item.Price.ToString()) </p>
                <a href="#" class="btn btn-outline-light">Check it out!</a>
            </div>
            </div>
        }
        </div>
</div>

