@{
    ViewData["Title"] = "Guitarzzzz";
}

<div class="text-center border border-dark rounded mt-5 mb-5" id="IndexMain">
        <h1 class="text-light mb-5 mt-2">Guitars</h1>
        <div class="d-flex justify-content-evenly flex-wrap mb-5">
            <div class="card me-2" style="width: 18rem;">
                <img src="~/Images/Jason.jpg" class="card-img-top" alt="Jason">
            <div class="card-body">
                <h5 class="card-title">Ernie Ball Music Man Cutlass 7 Buckeye Burl</h5>
                <p class="card-text">Jason Richardson/All That Remais signiature cutlass.</p>
                <a href="#" class="btn btn-primary">Check it out!</a>
            </div>
            </div>
            <div class="card me-2" style="width: 18rem;">
                <img src="~/Images/Loomis.png" class="card-img-top" alt="Loomis">
            <div class="card-body">
                <h5 class="card-title">Jackson Kelly Jeff Loomis</h5>
                <p class="card-text">Jeff Loomis/Arch Enemy/Nevermore signiature Kelly.</p>
                <a href="#" class="btn btn-primary">Check it out!</a>
            </div>
            </div>
            <div class="card me-2" style="width: 18rem;">
                <img src="~/Images/Vai.png" class="card-img-top" alt="Vai">
            <div class="card-body">
                <h5 class="card-title">Ibanez JEM Blue Floral</h5>
                <p class="card-text">Steve Vai signitarue ibanez in floral blue.</p>
                <a href="#" class="btn btn-primary">Check it out!</a>
            </div>

            </div>
        </div>

</div>

       
