

<div class="d-flex justify-content-center align-items-center bg-secondary bg-gradient">
<div class="text-center border border-dark rounded mt-5 mb-5 w-50" id="IndexMain">
    <h2 class="text-light">Welcome to the store who plays the highest amount of notes per second!!!</h2>
        <div class="form-group mb-3 mt-3">
           <a class="text-light h3">Thanks for registering with us!</a>
        </div>
        <div class="form-group mb-3 mt-3">
           <a class="text-light">The Shred Store team is pleased and grateful that you decided to create an account on our plataform.</a>
        </div>
        <div class="form-group mb-3 mt-3">
           <a class="text-light fw-bold">We hope that you enjoy our products and have a great time buying here.</a>
        </div>        
</div>
</div>