

<div class="d-flex justify-content-center align-items-center bg-secondary bg-gradient">
<div class="text-center border border-dark rounded mt-5 mb-5 w-50" id="IndexMain">
    <h2 class="text-light">Password Reset Email</h2>
        <div class="form-group mb-3 mt-3">
           <a class="text-light h3">Thanks for contactin us!</a>
        </div>
        <div class="form-group mb-3 mt-3">
           <a class="text-light">Here is your new password. Please change it to your preference as soon as you can.</a>
        </div>
        <div class="form-group mb-3 mt-3">
           <a class="text-light fw-bold">123456</a>
        </div>        
</div>
</div>
